@model MvcKutuphane.Models.Entity.TBLKITAP
@{
    ViewBag.Title = "KitapEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
    <style>
        video {
            width: 200px;
            height: 200px;
        }
    </style>
</head>

<form class="form-group" method="post" action="@Url.Action("KitapEkle", "Kitap")">
    <div></div>
    <div style="margin-top:15px">
        <label>Kitap Adı</label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Kitap Kategori</label>
        @Html.DropDownListFor(k => k.TBLKATEGORI.ID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Kitap Yazar</label>
        @Html.DropDownListFor(k => k.TBLYAZAR.ID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Basım Yılı</label>
        @Html.TextBoxFor(k => k.BASIMYIL, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Kitap Yayınevi</label>
        @Html.TextBoxFor(k => k.YAYINEVI, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Sayfa Sayısı</label>
        @Html.TextBoxFor(k => k.SAYFA, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Barkod</label>
        <input type="text" name="BARKOD" id="barkod" class="form-control" readonly>
    </div>
    <div id="interactive" class="viewport" style="width: 25%; height: 250px;"></div>
    <button type="button" class="btn btn-primary" id="barkodTaraBtn">Barkod Tara</button>

    <div style="margin-top:15px">
        <button type="submit" class="btn btn-info">Kitap Ekle</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#barkodTaraBtn').click(function () {
            Quagga.init({
                inputStream: {
                    name: "Live",
                    type: "LiveStream",
                    target: document.querySelector('#interactive')    // Barkod tarayıcı alanı
                },
                decoder: {
                    readers: ["code_128_reader", "ean_reader", "ean_8_reader"] // Desteklenen barkod türleri
                }
            }, function (err) {
                if (err) {
                    console.log(err);
                    return;
                }
                Quagga.start();
            });
        });

        Quagga.onDetected(function (data) {
            $('#barkod').val(data.codeResult.code); // Taranan barkodu form alanına yerleştir
            Quagga.stop(); // Barkod taramayı durdur
        });
    });

</script>
